<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

{% if error %}
<div class="row">
    <b><font color="red">{{ error }}</font></b>
</div>
{% endif %}


<div class="row">
<form action="{{ url_for('tasks.add_tasks') }}" method="POST" class="form-horizontal">
<!-- Form Name -->
<legend>Add scheduled task</legend>

<div class="form-group  {% if form.task_type.errors %} has-error {% endif %}" id="task_type">
    <div class="col-sm-2">
        {{ form.task_type.label}}
    </div>
    <div class="col-sm-5">
        {{ form.task_type(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.task_type.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.device.errors %} has-error {% endif %}" id="device">
    <div class="col-sm-2">
        {{ form.device.label}}
    </div>
    <div class="col-sm-5">
        {{ form.device(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.device.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.description.errors %} has-error {% endif %}" id="description">
    <div class="col-sm-2">
        {{ form.description.label}}
    </div>
    <div class="col-sm-5">
        {{ form.description(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.description.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.if_index.errors %} has-error {% endif %}" id="if_index" style="display: none">
    <div class="col-sm-2">
        {{ form.if_index.label}}
    </div>
    <div class="col-sm-5">
        {{ form.if_index(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.if_index.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.ssh_cmd.errors %} has-error {% endif %}" id="ssh_cmd" style="display: none">
    <div class="col-sm-2">
        {{ form.ssh_cmd.label}}
    </div>
    <div class="col-sm-5">
        {{ form.ssh_cmd(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.ssh_cmd.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.url.errors %} has-error {% endif %}" id="url" style="display: none">
    <div class="col-sm-2">
        {{ form.url.label}}
    </div>
    <div class="col-sm-5">
        {{ form.url(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.url.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.run_at.errors %} has-error {% endif %}">
    <div class="col-sm-2">
        {{ form.run_at.label}}
    </div>
    <div class="col-sm-5">
        {{ form.run_at(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.run_at.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.recurrence_count.errors %} has-error {% endif %}">
    <div class="col-sm-2">
        {{ form.recurrence_count.label}}
    </div>
    <div class="col-sm-5">
        {{ form.recurrence_count(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.recurrence_count.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.recurrence_time.errors %} has-error {% endif %}">
    <div class="col-sm-2">
        {{ form.recurrence_time.label}}
    </div>
    <div class="col-sm-5">
        {{ form.recurrence_time(cols="50") }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.recurrence_time.errors[0] }}
    </div>
</div>

<div class="form-group  {% if form.pollers.errors %} has-error {% endif %}">
    <div class="col-sm-2">
        {{ form.pollers.label}}
    </div>
    <div class="col-sm-5">
        {{ form.pollers }}
    </div>
    <div class="help-block col-sm-3">
        {{ form.pollers.errors[0] }}
    </div>
</div>


<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <input type="button" class="btn-xs btn-danger" value="Cancel" onclick="location.href = '{{ url_for('tasks.get_tasks') }}';">
        <input type="submit" name="submit" class="btn-xs btn-primary" category="submit" value="Repeat"></input>
        <input type="submit" name="submit" class="btn-xs btn-primary" category="submit" value="Add"></input>
    </div>
</div>

</form>

</div>  <!-- /.row -->

{% endblock %}

{% block scripts %}
<script lang="text/javascript">
    $(document).ready(function(){

        // Always run the check on initial page load
        check_selected();

        // Hide/show input fields based on the task type
        function check_selected() {
                if($("#task_type option:selected").text() == 'InterfaceOctetsProbe') {
                    $('#if_index').show();
                    $('#ssh_cmd').hide();
                    $('#url').hide();
                    $('#device').show();
                } else if($("#task_type option:selected").val() == 'SshRunSingleCommand') {
                    $('#if_index').hide();
                    $('#ssh_cmd').show();
                    $('#url').hide();
                    $('#device').show();
                } else if($("#task_type option:selected").val() == 'GetPage') {
                    $('#if_index').hide();
                    $('#ssh_cmd').hide();
                    $('#device').hide();
                    $('#url').show();
                } else {
                $('#if_index').hide();
                    $('#ssh_cmd').hide();
                    $('#url').hide();
                    $('#device').show();
                }}

        if($("#task_type").click(function() {
            check_selected();
        }));
    });

</script>

{% endblock %}


