<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
{% include "tasks/navigation.html" %}

<table class="table table-condensed">
    <tr>
        <th>type</th>
        <th>recurrence time (sec)</th>
        <th>recurrence count</th>
        <th>destination</th>
        <th>poller</th>
        <th></th>
    </tr>
    {% for task_id, data in tasks.items() %}
        <tr>
            <td>{{ data[0].type }}</td>
            <td>{{ data[0].recurrence_time }}</td>
            <td>{% if data[0].recurrence_count %}{{ data[0].recurrence_count }}{% else %}Infinite{% endif %}</td>
            {% if data[0].type == 'GetPage' %}
                <td>{{ data[0].url }}</td>
            {% else %}
                <td>{{ data[0].device }}</td>
            {% endif %}
            <td>{% for poller in data %}{{poller.poller}}<br>{% endfor %}</td>
            <td>
                <a href="{{ url_for('tasks.get_task', task_id=task_id) }}" class="btn btn-info">details</a>
                <a href="{{ url_for('tasks.delete_task', task_id=task_id) }}" class="btn btn-danger">X</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan=6>No tasks found</td></tr>
    {% endfor %}
</table>

{% endblock %}
