<!-- extend from base layout -->
{% extends "base.html" %}

{% block loadscripts %}
<link href="/static/css/c3.min.css" rel="stylesheet" type="text/css">
<script src="/static/js/c3.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-9">
        <h2>Task details</h2>
    </div>
    <div class="col-lg-3" align="right">
        <a href="{{ url_for('tasks.delete_task', task_id=tasks[0]._id) }}" class="btn btn-danger">Delete</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <table class="table table-condensed">
            <tr><th>ID</th><td>{{tasks[0]._id }}</td></tr>
            <tr><th>Type</th><td>{{ tasks[0].type }}</td></tr>
            <tr><th>recurrence time</th><td>{{ tasks[0].recurrence_time }} sec</td></tr>
            <tr><th>recurrence count</th><td>{{ tasks[0].recurrence_count }}</td></tr>
            {% if tasks[0].type == 'GetPage' %}
                <tr><th>URL</th><td>{{ tasks[0].url }}</td></tr>
            {% else %}
                <tr><th>device</th><td>{{ tasks[0].device }}</td></tr>
            {% endif %}
            {% if tasks[0].type == 'InterfaceOctetsProbe' %}
                <tr><th>if_index</th><td>{{ tasks[0].if_index }}</td></tr>
            {% endif %}
        </table>
    </div>
    <div class="col-lg-9">
        <div id="task"></div>
    </div>
</div>

<script language="javascript">


var chart = c3.generate({
    bindto: '#task',
    data: {
        json: {{ data[0][tasks[0]._id]|safe }},
        keys: {
            value: ['min', 'max', 'avg'],
        }
    },
    axis: {
        x: {
            label: {
                text: "date",
                position: "outside-middle",
            },
            count: 8
        },
        y: {
            label: {
                text: "ms",
                position: "outside-middle",
            }
        }
    },
    legend: {
        position: "right"
    }
});


</script>

{% endblock %}
